*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
.blog_nav{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
}
.logo{
    width: 40%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.blog_nav ul {
    display: flex;
    align-items: center;
}
.blog_nav ul li{
    margin: 0px 20px;
    font-size: 18px;
    cursor: pointer;
}
.blog_today{
    width: 100%;

}
.blog_mini_today{
    width: 80%;
    margin: 90px auto;
}
.blog_mini_image {
    width: 100%;
    height: 550px;
    margin-top: 25px;
}
.blog_mini_today p {
    font-size: 23px;
    
}
.blog_mini_image img{
    width: 100%;
    height: 100%;
    /* object-fit: 100%; */
    /* object-fit: cover; */
}
.blog_mini_today button {
   margin: 30px 0px;
   padding: 5px 26px;
   border-radius: 20px;
   border: 1px solid rgb(76, 183, 241);
   background-color: white;
   color:rgb(76, 183, 241) ;
    
}
.blog_mini_today ul {
    display: flex;
}
.blog_mini_today ul li{
    margin-right:3px;
    color: rgb(114, 113, 113);
}
.blog_mini_today span{
    color: rgb(114, 113, 113);
    font-size: 15px;
    margin: 10px 0px;
    display: inline-block;
}
.blog_mini_today h3{
    margin:5px 0px;
    font-size: 23px;
    font-weight: 900;
}

.blog_mini_today a{
    color:rgb(76, 183, 241) ;
    text-decoration: underline;

}
.blog_two_div{
    width: 80%;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(169, 167, 167, 0.953);


}
.blog_two_div2{
    width: 80%;
    /* border: 1px solid black; */
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid rgba(169, 167, 167, 0.953); */
    /* flex-direction: column; */
}
.trend{
    /* margin-top: 90px;
    margin-left: 100px; */
    margin: 90px auto;
    text-align: center;

}
.blog_div{
    width: 47%;
}
.blog_div_text{
    /* border: 1px solid black; */
    height: 320px;
}
.blog_div_image{
    width: 100%;
    height: 300px;
}
.blog_div_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 13px;
}
.blog_div button{
    margin: 15px 0px;
    padding: 5px 15px;
    border-radius: 20px;
    color: rgb(76, 183, 241) ;
    border: 1px solid rgb(76, 183, 241) ;
    background-color: white;
}
.blog_div ul{
    display: flex;

}
.blog_div ul li{
    margin-right:3px;
    color: rgb(114, 113, 113);
}
.blog_div h3{
    margin: 20px 0px;
    line-height: 25px;
}
.blog_div span{
    color: rgb(114, 113, 113);
    margin-bottom: 50px;
    display: inline-block;

}
.btn{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn button{
    padding: 10px 30px;
    border-radius: 5px;
    background-color: rgb(16, 116, 230);
    border: 1px solid rgb(16, 116, 230);
    color: white;
    cursor: pointer;


}
.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
}
.mini_footer{
    width: 70%;
    display: flex;
    justify-content: space-between;

}
.footer_menu{
    width: 50%;
    height: 100%;
    font-weight: 800;
}
.footer_menu ul{
    margin-top: 40px;
}
.footer_menu ul li{
    margin: 10px 0px;
    cursor: pointer;

    
}
.footer_email{
    width: 50%;
    height: 100%;
}
.footer_email p{
    margin: 15px 0px;
    font-size: 14px;
    /* padding: 0px 10px; */
}
.footer_inp input{
    width: 75%;
    padding: 6px 0;
    border: 1px solid rgba(180, 176, 176, 0.982);
    outline: none;
}
.footer_inp button{
    padding: 5px 14px;
    border: 1px solid rgba(30, 155, 233, 0.982);
    background-color: rgba(30, 155, 233, 0.982);
    color: white;
    cursor: pointer;

}
.footer_email h4{
    margin-top: 30px;
}
.footer_email ul{
   display: flex;
   margin: 10px 0px;
   cursor: pointer;

}
.footer_email ul li img{
     width: 25px;
     height: 25px;
    cursor: pointer;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px){

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 790px) {
    .logo ul{
        display: none;
    }
    .blog_div{
        width: 100%;
        margin: 10px 0px;
    }
.blog_two_div2,.blog_two_div{
    flex-wrap: wrap;
}
.mini_footer{
    flex-direction: column;
}
.footer_menu{
    width: 100%;
}
.footer_email{
    width: 100%;
    margin-top: 30px;
}
}

